 /* Header style */

 .img-logo{
    height: 20%;
    width: 200px;
    margin-top: -20px;
} 
.header-form-width{
    width:600px !important;
}
.navbar{
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 6px rgba(59,64,69,0.1);
}
.nav-item{
    margin:0px 15px;
    color: #848d95;
}
.nav-icons{
    margin-left: 70px;
}

/* end of header style */