.card {
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-top:22%;
    background-color: transparent;
  }
  .card-header{
    color:whitesmoke;
  }
  .text-center{
    color:whitesmoke;
  }