#h_container{
    position: relative;
    background-color: #f8f9fa;
    top: -4px;
}

#h_logo_left_div{
    position:absolute;
    display: inline-block;
    left: 0;
    width: 80px;
}

#h_logo{
    height: 80px;
    padding: 10px;
}
img{
    vertical-align: middle;
    border-style: none;
}
img{
    border: 0;
    border-radius: 50px;
}
#h_main_div{
    position: absolute;
    display: inline-block;
    padding: 20px 0;
}
#h_head1{
    padding-right: 9%;    
}
#h_head1{
    float: right;
}

#time{
    color:#7d7d7d;
    font-size: 1.1rem;
    padding: 0 8px;
    text-decoration: none;
}
.viewport{
background-image: url(https://www.irctc.co.in/nget/swach_banner2.391192cab480269195cd.jpg);
background-repeat: no-repeat;
background-size: cover;
height: 800px;

}
.loginhead{
    width: 300PX;
    height: 700PX;
    background-color: white;
    margin-left: 200px;    
}
.loginhead span {
    font-family:  Heading,Helvetica,Arial,sans-serif!important;;
    display: block;
    font-size: 2rem;
    font-weight: 100;
    position: relative;
    top: -15px;
}