 /* Header style */
.main{
    background-color: aliceblue;
}
 .img-logo{
    height: 20%;
    width: 200px;
    margin-top: -20px;
} 
.header-form-width{
    width:600px !important;
}


.subNav .list1 li{
 display:inline;
  text-decoration:none;
  list-style: none;
  float:left;
  color:white;
  margin:0px 10px;
      font-size: 12px;
    color: rgba(255,255,255,.5);
    line-height: 16px;
    font-weight: 500;

}
.subNav .list1 li:first-child{
    margin-left:53px;
}
.subNav .list:first-child { 
 margin-left: -45px;
}
.signin{
    display: inline;
    position: absolute;
    float: right;
    left: 1108px;
    top: 23px;
}
.userpro {
display:inline;
float:left;
text-align: center;
border-radius: 50%;

}
.userpro i{
    font-size: 27px;
    color:black;
    
}
.usernamr {
    display: inline;
    float: left;
    margin-left: 10px;
    color:black;
    font-size: 15px;  
}

.navbar-nav{
    margin-left: 145px;
    margin-bottom: -40px;
    text-decoration: none;
    list-style-type: none;
    color:white;   
}
.navbar1{
    margin-left: 440px;
    margin-bottom: -15px;
    text-decoration: none;
    list-style-type: none;
    color:white;
}
.nav-link{
    list-style-type: none;   
    color:black;
}
.navbarimg{
    height: 75px;
    background-color: white;   
}
.navbarimg-right{
    height: 75px;
    background-color: white;
    float:right;
    margin-top: -80px;
}
.FindTrain{
    background-color:#2e3192;
}
.FindTrains{
    color: aliceblue;
    padding-bottom: 10px;
    padding-top: 10px;
}
.PNR{
    background-color:#2e3192;
}
.PNRStatus{
    color: aliceblue;
    padding-bottom: 10px;
    padding-top: 10px;
}
.topdiv{
    color: black;
}
.nav-link1{
    font-size: 12px;
    margin-right: 10px;
    color: black;
}
#login{
    color: red;
}
#alert{
    color: red;
}
.time{
    color: black;
    margin-right: 10px;
}
.fa fa-home{
    margin-left: 100px;
}