.topbody{
    padding: 10px 0px;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    margin-bottom: 5px;
    margin-top: -1px;
    background-color: #fff;
    height: 100%;
}
.textbox{
    text-align: right;
    box-sizing: border-box;
    color: #1457a7;
    font-size: 0.8rem;
    background-color: aliceblue
}
.textline{    
    font-size: 0.8rem;
    font-weight: bold;    
}
.colg1{
    box-sizing: border-box;
    width: 12.666%;
    float: left;
}
.origin1{
    font-weight: 700;
    padding-left: 35px;
    padding-top: 6px;
    font-size: 1rem;
    color: #082b71;
}
.ptag1{
    box-sizing: border-box;
}
.spantag1{
    font-size: 1em;
    zoom: 1;
    cursor: pointer;
}
.selectstation{
    background: #fff;
    color: #082b71;
    width: 100%;
    transition: .2s;
    margin: 0;
    outline: 0;
    margin-left: 10px;
}
.colg2{
    box-sizing: border-box;
    width: 13.666%;
    float: left;
    margin-left: 50px;
}
.origin2{
    font-weight: 700;
    padding-left: 35px;
    padding-top: 10px;
    font-size: 1rem;
    color: #082b71;
}
.ptag2{
    box-sizing: border-box;
}
.spantag2{
    font-size: 1em;
    zoom: 1;
    cursor: pointer;
}
.SelectDestination{
    background: #fff;
    color: #082b71;
    width: 100%;
    transition: .2s;
    margin: 0;
    outline: 0;
}
.arrow{
    position: absolute;
    z-index: 55;
    top: 30px;
    margin-left: 22px;
    margin-top: 130px;  
}
.fa{
    display: inline-block;
    font: normal;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing:antialiased;
}
