.leftmenu-holder .leftmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgba(18, 86, 141, 0.5);
}

.leftmenu-holder .leftmenu li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding: 0.5em 1em;
    color: white;
    border-bottom: 1px solid rgba(18, 86, 141, 1);
}

.leftmenu-holder .leftmenu a:hover {
    text-decoration: none;
    background-color: rgba(18, 86, 141, 1);
}

.leftmenu-holder .leftmenu li:hover {
    background-color: rgba(18, 86, 141, 1);
}